<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h4>Assignment 6 TD forms !</h4>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced",
            "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched.
            Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->

      <form #f ='ngForm' (ngSubmit)="onSubmit()" >
      <!-- EMAIL SECTION -->
        <div class="form-group">
          <label>Email address</label>
          <input
            #email='ngModel'
            class="form-control"
            email
            id="email"
            name="email"
            ngModel
            required
            type="email"

          >

        </div>

<!--        DISPLAYING THE ERROR MESSAGE-->

        <span
          *ngIf="!email.valid && email.touched"
          class="help-block"
        >
          Please enter a valid email!</span>

        <hr>
        <!--DROPDOWN SECTION-->

        <h6>Subscription</h6>
        <div *ngFor="let sub of subscriptionOptions" class="radio">
          <label>
            <input
            [(ngModel)]="defaultSubs"
            [value]="sub"
            name="sub"
            type="radio"
            >
            {{sub}}
          </label>
        </div>
          <hr>
      <!--Password Section-->

        <div class="form-group">
          <label>Enter Password</label>
          <input
            #password='ngModel'
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
            type="password"
          >
        </div>

        <!--        DISPLAYING THE ERROR MESSAGE-->

        <span
          *ngIf="!password.valid && password.touched"
          class="help-block"
        >
          Please enter a password!</span>

        <hr>
     <!--   Button section for submitting-->
        <button
          [disabled]="!f.valid"
          [class.btn-danger]="!f.valid"
          [class.btn-success]="f.valid"
          class="btn"
        >Submit
        </button>

      </form>
    </div>
  </div>

  <hr>



  <div *ngIf="submitted" class="row">
    <div class="col-sx-12">
      <h3>Data</h3>
      <p>Email: {{user.email}}</p>
      <p>Password: {{user.password}}</p>
      <p>Subscription: {{user.subscribe}}</p>

    </div>
  </div>


</div>
